// scss variables!
$primary-color: #b68f10;
$secondary-color: #2761a3;
$fonts: Arial, Helvetica, Serif;
$border-radius: 5px;

// basic page styling. Some of it needs compiling!

body {
  background-color: $primary-color;

  &.h1 {
    color: $primary-color;
  }
  .ghost {
    color: $secondary-color;
    font-style: $fonts;
    text-align: center;
  }
}

@mixin border-radius($radius) {
  border-radius: $radius;
}

// body {
//   background-color: $primary-color;
//   font-family: $fonts;
//   line-height: 1.5;
// }

// .quiz {
//   p {
//     font-size: medium;
//     text-align: center;
//   }
// }
