#game {
  width: 500px;
  height: 600px;
  border: 1px solid black;
  margin: auto;
}

#pillar {
  height: 400px;
  width: 50px;
  background-color: black;
  position: absolute;
  right: 0;
  bottom: 0;
  animation-name: slide;
  animation-duration: 4ss;
}

#character {
  height: 30px;
  width: 30px;
  background-color: aqua;
  position: relative;
  left: 100px;
}
