body {
  background-color: blueviolet;
  background-image: -moz-linear-gradient(blue, orange);
}

h1 {
  font-size: 72px;
  color: rgb(88, 11, 41);
  text-align: center;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
