#game {
  width: 500px;
  height: 600px;
  border: 1px solid black;
  margin: auto;
}

#pillar {
  height: 400px;
  width: 50px;
  background-color: black;
  position: relative;
  left: 0;
  bottom: 0;
  /* animation-name: pillar;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-timing-function: linear; */
}

#character {
  height: 30px;
  width: 30px;
  background-color: aqua;
  position: relative;
  left: 100px;
}

@keyframes pillar {
  from {
    left: 0px;
  }
  to {
    left: 300px;
  }
}
